@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

.team_title {
    margin-top: 10%;
    margin-bottom: 5px;
    margin-right: 5px;
    height: 800px;
    text-align: center;
}

.part {
    width: 50%;
    height:200px;
}

.part1 {
    float:left;
    text-align: right;
}

.part2 {
    float:right;
    text-align: left;
}

.part3 {
    float:left;
    text-align: right;
}

.part4 {
    float:right;
    text-align: left;
}

.box {
    width: 200px;
    height: 200px;
    color: white;
}

.box1 {
    float:right;
    padding-top: 115px;
    background-color: #606060;
}

.box2 {
    float:left;
    padding-top: 115px;
    background-color: #31B671;
}

.box3 {
    float:right;
    background-color: #DD9E25;
}

.box4 {
    float:left;
    background-color: #DF4C1A;
}

.box span {
    font-size: 5em;
}

.box1:hover {
    background-image: url(./member.jpg);
    background-size: 400px 400px;
    background-position: 0px 0px;
    cursor: pointer;
}

.box2:hover {
    background-image: url(./member.jpg);
    background-size: 400px 400px;
    background-position: 200px 0px;
    cursor: pointer;
}

.box3:hover {
    background-image: url(./member.jpg);
    background-size: 400px 400px;
    background-position: 0px 200px;
    cursor: pointer;
}

.box4:hover {
    background-image: url(./member.jpg);
    background-size: 400px 400px;
    background-position: 200px 200px;
    cursor: pointer;
}

.copyright {
    position:fixed;
    bottom: 5px;
    right: 5px;
}

.hanna {
    font-family: 'Hanna', fantasy;
}


/*************************고정태그 part 시작**************************/
.name_up_tag {
    position: fixed;
    bottom: 50px;
    right: 40px;
    text-align: center;
    
}

div div a {
    text-decoration: none;
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Hanna', fantasy;
}

.name_up_tag > div {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#oh_button {
    background-color: #606060;
}

#oh_button:hover + #js_tag_img {
    animation-name: js_tag_animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes js_tag_animation {
    from {right: 50px; opacity: 0;}
    to {right: 105px; opacity: 1;}
}

#sam_button {
        background-color: #31B671;
}

#sam_button:hover + #du_tag_img {
    animation-name: du_tag_animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes du_tag_animation {
    from {right: 50px; opacity: 0;}
    to {right: 105px; opacity: 1;}
}

#gwang_button {
    background-color: #DD9E25;
}

#gwang_button:hover + #sw_tag_img {
    animation-name: sw_tag_animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes sw_tag_animation {
    from {right: 50px; opacity: 0;}
    to {right: 105px; opacity: 1;}
}

#ddang_button {
    background-color: #DF4C1A;
}

#ddang_button:hover + #yr_tag_img {
    animation-name: yr_tag_animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes yr_tag_animation {
    from {right: 50px; opacity: 0;}
    to {right: 105px; opacity: 1;}
}

#up_button {
    background-color: #663399;
}

#up_button:hover ,#oh_button:hover, #sam_button:hover, #gwang_button:hover, #ddang_button:hover {
    opacity: 0.9;
}

.tag_comment {
    font-family: 'Hanna', fantasy;
    color: #000000;
    position: fixed;
    bottom: 280px;
    right: 90px;
    font-size: 25px;
}

#du_tag_img {
    width: 80px;
    position: fixed;
    bottom: 190px;
    right: 50px;
    opacity: 0;
    z-index: -1;
}

#js_tag_img {
    width: 80px;
    position: fixed;
    bottom: 235px;
    right: 50px;
    opacity: 0;
    z-index: -1;
}

#sw_tag_img {
    width: 80px;
    position: fixed;
    bottom: 145px;
    right: 50px;
    opacity: 0;
    z-index: -1;
}

#yr_tag_img {
    width: 80px;
    position: fixed;
    bottom: 102px;
    right: 50px;
    opacity: 0;
    z-index: -1;
}

/********************고정태그 part 끝***************************/



